.places {
    margin: 0 148px 92px;
    display: flex;
    flex-direction: column;
    gap: 80px;
}

@media screen and (max-width: 1279px) {

    .places {
        margin-left: 48px;
        margin-right: 48px;
    }
}

@media screen and (max-width: 1023px) {

    .places {
        margin-right: 24px;
        margin-left: 24px;
        margin-bottom: 90px;
        gap: 73px;
    }
}

@media screen and (max-width: 767px) {

    .places {
        margin-right: 0;
        margin-left: 0;
        margin-bottom: 66px;
        gap: 50px;
    }
}