.place__paragraph {
    font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
    margin: 0;
    font-size: 18px;
    line-height: 1.63;
    order: 4;
}

.place__paragraph:nth-of-type(even) {
    margin-top: 27px;
}

@media screen and (max-width: 1023px) {

    .place__paragraph {
        font-size: 16px;
        line-height: 1.63;
    }
}

@media screen and (max-width: 767px) {

    .place__paragraph {
        margin-right: 16px;
        margin-left: 16px;
    }

    .place__paragraph:nth-of-type(even) {
        margin-top: 25px;
    }
}