.place__link {
    font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
    color: white;
    transition: opacity 1s linear;
    font-size: 18px;
    line-height: 1.222;
}

.place__link:hover {
    opacity: .6;
}